.admin-layout {
    > .container {
        margin-top: 1rem;
    }
    > .breadcrumb-container {
        margin: 5.25rem 0 2rem 0;
        border-radius: 0;
    }
}

.sidebar {
    padding: 1rem;

    h3 {
        text-transform: uppercase;
        color: gray;
        font-size: 1.5rem;
    }
}
