.navbar-inverse {
    text-transform: uppercase;
    font-size: 1.5rem;
}

.navbar-inverse .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;

    &:hover {
        color: #FFD73D;
    }
}
