.cloud {
    text-align: center;

    .small {
        font-size: 1.5rem;
        opacity: .55;
    }

    .medium {
        font-size: 2rem;
        opacity: .7;
    }

    .large {
        font-size: 2.5rem;
        opacity: .85;
    }

    .humongous {
        font-size: 3rem;
    }
}
