.navbar-default {
    text-transform: uppercase;
    font-size: 1.5rem;
    border: 0;

    .navbar-nav li a {
        color: $gray-darker;
    }
}

.navbar-default .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: $gray-darker;

    &:hover {
        color: $brand-warning;
    }
}

.navbar-nav {
    li:hover {
        background-color: $brand-info;

        a, a:hover {
            color: $gray-lighter;
        }
    }
}

.navbar-form {
    .form-control {
        border: 1px solid $gray;
    }

    .input-group-addon {
        border: 1px solid $gray;
        background-color: $gray;
        color: $gray-lighter;
    }
}
