* {
    // OpenType features
    font-feature-settings: "kern", "liga", "clig", "calt";
    font-variant-ligatures: common-ligatures contextual;
    font-kerning: normal;
}

p {
    // stupid hack until Blink engine supports hyphens: auto
    @supports not (hyphens: auto) {
        word-break: break-word;
    }
    hyphens: auto;
}

.title {
    font-family: $font-family-serif;
    font-size: 5rem;
    margin: 0 0 3rem 0;
}

.subtitle {
    text-transform: uppercase;
    color: $brand-info;
    margin: 0 0 1.5rem 0;
    font-style: italic;
    letter-spacing: 2px;
    font-size: 2rem;
}

.article {

    .infos {
        font-style: italic;
        font-size: 1.5rem;
        margin-top: 3.5rem;
    }
}
